<main class="min-h-screen bg-slate-500">

  <section>
    <h1>Create a new book</h1>

    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <label for="book-name">book name: </label>
      <input id="book-name" type="text" formControlName="name" />
      <label for="library">Select a library: </label>
      <select name="library" id="library" formControlName="library">
        <option value="1">Library 1</option>
        <option value="2">Library 2</option>
      </select>
      <button type="submit">Submit</button>
    </form>
  </section>

  <section>
    <ul>
      @for (string of stringsList; track $index) {
      <li>{{ string }}</li>
      }
    </ul>
  </section>
</main>

<router-outlet></router-outlet>
